<footer>
  <small>
    © 2019 <a href="iamedson.com">Edson Chilundo</a>
    Powered by <a href="https://11ty.io" rel="external noopener" target="_blank">Eleventy</a> and <a href="https://www.netlify.com" rel="external noopener" target="_blank">Netlify</a>
    Source code is publicly available on <a href="{{ pkg.repository.url }}">Github repo</a>
  </small>
</footer>
