<footer>
  <small>
    © 2019 <a href="https://iamedson.com">Edson Chilundo</a>
    <br>Powered by <a href="https://11ty.io" rel="external noopener" target="_blank">Eleventy</a> and <a href="https://www.netlify.com" rel="external noopener" target="_blank">Netlify</a>
    <br>Source code is publicly available on <a href="{{ pkg.repository.url }}">Github</a>
  </small>
</footer>
